# Node Modules
node_modules
# IDE Settings
.idea
# Local Files
files/*
# Keep the sample file in the folder
!files/a6a13488-b469-4488-ad94-9c2391bece68
!files/a6a13488-b469-4488-ad94-9c2391bece68.meta